<div class="container">
  <%= form_for @message do |f| %>
      <div class="form-group">
        <%= f.label 'From :' %>
        <%= current_user.name %>
      </div>
      <div class="form-group">
        <%= f.label 'To :' %>
        <%= f.text_field :recipient_id, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :Subject %>
        <%= f.text_field :subject, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :Body %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <div class="text-center">
        <%= submit_tag "Send", class: 'white_background_main_button' %>
      </div>
  <% end %>
</div>