<div class="container inbox">
  <div class="row">
    <div class="col-md-6">
      <h1>Inbox</h1>
    </div>
    <%= render 'messages/button'%>
  </div>

  <% if @messages.empty? %>
      <div class="alert alert-error">No Message? No Friend? :))</div>
  <% end %>
  <div class="row emails">
    <% @messages.each do |message| %>
        <% if message.read_at %>
            <div class="col-md-2 message_row text-center">
              <%= image_tag message.recipient.image, class: 'inbox-profile-image' %>
            </div>
            <div class="col-md-4 message_row">
              <p class="text_message"><%= message.recipient.name %></p>
            </div>
            <div class="col-md-4 message_row">
              <p class="text_message"><%= message.subject %></p>
            </div>
            <div class="col-md-2 message_row row">
              <p class="text_message">Read at <%= message.read_at %></p>
            </div>
        <% else %>
            <div class="col-md-2 message_row text-center">
              <%= image_tag message.recipient.image, class: 'inbox-profile-image' %>
            </div>
            <div class="col-md-4 message_row">
              <p class="text_message"><%= message.recipient.name %></p>
            </div>
            <div class="col-md-4 message_row">
              <p class="text_message"><%= message.subject %></p>
            </div>
            <div class="col-md-2 message_row row">
              <div class="col-md 12">
                <p class="text_message"> Not Open Yet</p>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>