<div class="row">
  <div class="col-md-6">
    <div class="container sign_up_form">
      <h1 class="text-center"> Sign Up </h1>
      <hr>
      <%= form_for @user do |f| %>
          <% if @user.errors.size > 0 %>
              <div class="alert alert-danger">
                <%= @user.errors.full_messages.to_sentence %>
              </div>
          <% end %>
          <div class="form-group">
            <%= f.label :Name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :Email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="text-center">
            <%= f.submit "Sign Up", class: 'white_background_main_button' %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 no_padding">
    <%= image_tag ('sign_up_img.png'), class: 'sign_up_img' %>
  </div>
</div>